@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

div:first-child,
div:nth-child(2),
div:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
  font-size: 65px;
}


div:first-child {
background-color: aliceblue;
color: orangered;
}

div:nth-child(2){
background-color: teal;
color: oldlace;
}

div:nth-child(3){
background-color: orangered;
color: oldlace;
}

div:nth-child(4){
  background-color: lightpink;
  color: orangered;
}

div:nth-child(5){
  background-color: slateblue;
  color: oldlace;
}

div:nth-child(6){
  background-color: lemonchiffon;
  color: orangered;
}

div:nth-child(7){
  background-color: salmon;
  color: oldlace;
}