@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400;1,700&family=Stylish&display=swap');

body {
  font-family: 'Stylish', sans-serif;
  font-size: 3em;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-transform: uppercase;
}


header {
  background-color: black;
  color: snow;
  text-transform: uppercase;
  padding: 20px;
}

div {
  background-color: mediumslateblue;
  
}

section {
  grid-row: span 3;
}

nav {
  background-color: tomato;
  color: lightpink;
  grid-row: span 2;
  grid-column-start: 1;
  padding: 20px;
}

nav p {
  margin-bottom: 5px;
}

a {
  background-color: gold;
  color: darkorange;
  grid-row-start: 3;
  grid-column-start: 2;
  padding: 20px;
}

section {
  padding: 15px 20px;
}

section h4 {
  font-size: 0.5em;
  color: gray;
  margin-bottom: 15px;
}

section span {
  display: block;
  font-size: 0.9em;
  color: lightgray;
  margin-bottom: 5px;
}